<footer>
  <div class="half-section mighty-gradient">   
    <div class="spacer"></div>      
      <p class="copyright">&copy; 2015 antonstepan Digital Services | LI XI
      </p>
      <!-- <div id="go-top">
          <a class="smoothscroll" title="Back to Top" href="#hero"><i class="icon-up-open"></i></a>
      </div> -->
  </div>
</footer>