<footer>
  <div class="half-section mighty-gradient">   
    <div class="spacer"></div>      
      <p class="copyright">&copy; 2015 antonstepan Digital Services | <a href="http://www.linkedin.com/profile/view?id=147458428" target="_blank" rel="me">linkedin</a> <a href="https://www.xing.com/profile/Anton_Stepan" target="_blank" rel="me">xing</a>
      </p>
      <!-- <div id="go-top">
          <a class="smoothscroll" title="Back to Top" href="#hero"><i class="icon-up-open"></i></a>
      </div> -->
  </div>
</footer>