<hero>
  <div class="hero-bg">
    <div class="hero-spacer"></div>
    <div class="hero-title">
      <div class="hero-text">
        <h1 class="responsive-headline">{{ page.header.title }}</h1>
        <h2 class="responsive-headline">Digital Services</h2>
      </div>
      <div class="flexcontainer">
        {{content}}
      </div>
    </div>
    <a class="bottom-arrow" href="#welcome">
      <span class="bar">xxxx</span>
    </a>
  </div>
</hero>