<hero>
  <div class="full-section mighty-gradient">
    <div class="hero-spacer"></div>
    <div class="hero-title">
      {{ page.media[page.header.image_src].html() }}
      <div class="hero-text">
        <h1 class="responsive-headline">{{ page.header.title }}</h1>
      </div>
      <div class="flexcontainer">
        <span class="hero-minimal">{{content}}</span>
      </div>
    </div>
    <a class="bottom-arrow" href="#welcome">
      <i class="icon-down-open"></i>
    </a>
  </div>
</hero>