<hero>
  <div class="hero-bg">
    <div class="row">
      <div class="twelve columns default-column">
        <div class="hero-text">
          <h1 class="responsive-headline">{{ page.header.title }}</h1>
          {{ content }}
          <a class="bottom-arrow" href="#welcome">
            <span class="bar"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</hero>