<section id='welcome'>
  <div class="half-section container">
    <div class="row row-default">
      <h1 class="heading">{{ page.header.title }}</h1>
      <div class="content">{{ content }}</div>
    </div>
  </div>
</section>
